<p id="notice"><%= notice %></p>

<p>
  <strong>Age:</strong>
  <%= @profile.age %>
</p>

<p>
  <strong>Height in inches:</strong>
  <%= @profile.height_in_inches %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @profile.gender %>
</p>

<p>
  <strong>Description:</strong>
  <%= @profile.description %>
</p>

<p>
  <strong>Hobbies:</strong>
  <%= @profile.hobbies %>
</p>

<p>
  <strong>Books:</strong>
  <%= @profile.books %>
</p>

<p>
  <strong>Shows:</strong>
  <%= @profile.shows %>
</p>

<p>
  <strong>Fitness level:</strong>
  <%= @profile.fitness_level %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @profile.occupation %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
